[Unit]
Description=Hexapod OS Unified FastAPI Server & Robot Controller
After=network.target sound.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/codegenix/hexapod-finale/HexapodOS
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Environment=PORT=8080

[Install]
WantedBy=multi-user.target
